*.user
*.suo
*.db
*.log
*.yml
*.tar
*.dockerignore
Dockerfile

artifacts/
TestResults/
[Cc]onfig.json
appsettings.json
appsettings.*.json
bin/
obj/
.vs/
OpinionHub.Web/wwwroot/uploads/
/OpinionHub.Web/currenttask.md
secrets/
